@import "const";
@import "zaborskiy";
@import "cv_media";
@import "print";

$skill-bg-color: $palette-color-4;
$small-width: 100/12%;

.featured{
 
           box-sizing:border-box!important;
      -moz-box-sizing:border-box!important;
   -webkit-box-sizing:border-box!important;
   
    background-color: darken($palette-color-1, 2%)!important;
    
 
    color: $palette-color-2;
}

.small-label{
    @extend .nice-caption;
    font-size: 80%;   
}

.date, .featured-label{
    margin:0;
    padding: $inter-panel-padding;
    color: $palette-color-1;
    @extend .small-label;
}

.featured-label{
    margin-right: 0%;
    color: $palette-color-1;
    background: $palette-color-2;
}

.date{
    color: $palette-color-1;
    background: $palette-color-6;
}

.date-line{
    
    display: block;
    background-color: $palette-color-4t;//fade($palette-color-6,10%);
    height: $inter-panel-padding/2;
    
    font-size: 55%; 
    @extend .with-shadow;
    @extend .colorTransition;
    
    &:hover{
        height: $inter-panel-padding*2;
        background-color: $palette-color-4;
        
        @extend .colorTransition;
        
        .date-line-marker{
            color: $palette-color-1;
            padding: $inter-panel-padding/2;
            @extend .colorTransition;
            overflow: visible;
        }
        @extend .with-shadow-sm;
    }
    
    .date-line-marker{
        @extend .colorTransition;
        @extend .nice-caption;
        
        white-space: nowrap;
        padding: 0;
        color: $transparent;
        overflow: hidden;
        position: relative;
        background: $palette-color-6;
        height: 100%;
    }
}

 
.avatar{
    background-image: url(/assets/img/avatar.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
}


.bimage img{
    //border: 1px solid $palette-color-1;
   // transform: rotate("90");
    transform: perspective(600px ) rotateY( 0deg );  
    -webkit-transform: perspective(600px ) rotateY( 0deg );  
    &:hover{
        transform: perspective(600px ) rotateY( 180deg );  
        -webkit-transform: perspective(600px ) rotateY( 180deg );  
//        .gTransition;
    }
    @extend .gTransition;
}

.elevated,.elevated-10{
    @extend .with-shadow;
    z-index: 10;
}
.elevated-5{
    @extend .with-shadow-sm;
    z-index: 5;
}
 
.logo-div{
   // padding: $inter-panel-padding*2;
}

.section-education{
    .date, h4{
        margin: 0;
        line-height: 1;
        padding-top: $inter-panel-padding;
        padding-bottom: $inter-panel-padding;
        padding-left: $inter-panel-padding;
        padding-right: $inter-panel-padding;
        color: $palette-color-4;
        background: none;
        //background-color: $palette-color-4t;
        @extend .small-label;
    }
}
 

.download-links-wrap{
    padding: 0;
    margin:0;
   // position: absolute;
    //bottom: 0;
    left: 0; 
    right: 0;
    width: 100%;
    border:none;
    
    a{
        color: $palette-color-1!important;
        &:hover{
            color: $palette-color-1!important;
        }
        &:hover:visited{
            color: $palette-color-1!important;
        }
    }
    @media print{
        display: none;
    }
    @extend .colorTransition;
}

 

.spaceous{
    margin: 0;
    padding-left: $inter-panel-padding*4!important;
    padding-right: $inter-panel-padding*4!important;
    padding-bottom: $inter-panel-padding*4!important;
    padding-top: 0!important;
}


.contact-info {
    font-size: 80%;
    
    ul{
        list-style: none;
        list-style-position: outside;
        @extend .nopadding;
        list-style-image: none;
        list-style-type: none;
    }
    li{
        display: block;
    }
    
    label{
        display: inline-block;
        @extend .small-label;
        color: rgba($palette-color-2, 0.4);
        
    }
    .icon{
        font-size: 170%;
        display: inline-block;
        width: 1.2em;
        margin: 0;
        padding-right:  $inter-panel-padding/2;
        line-height: 0.68em;
       // border: 1px solid red;
        bottom: -0.25em;
        position: relative;
        color: rgba($palette-color-4, 0.60);
    }

}

.cv{
    
    background-image: url(/assets/img/grid.svg);
    background-size: contain;
    
    p{
        margin-top: $inter-panel-padding;
        margin-bottom: $inter-panel-padding;
    }
}

.bg1{
    .skill1,.skill2,.skill3,.skill4,.skill5,.skill6,.skill7,.skill8{
        color: $palette-color-4d;
        background-color: $palette-color-1;
    }
    
    .skill1{
        border-color: rgba($skill-bg-color,0.1)!important;
        font-size: 70%!important;
    }
    .skill2{
        border-color: rgba($skill-bg-color,0.20)!important;
        font-size: 80%!important;
    }
    .skill3{
        border-color: rgba($skill-bg-color,0.30)!important;
    }
    .skill4{
        border-color: rgba($skill-bg-color,0.40)!important;
    }
    .skill5{
        border-color: rgba($skill-bg-color,0.50)!important;
    }
    .skill6,{
        border-color: rgba($skill-bg-color,0.60)!important;
    }
    .skill7,.skill8{
        border-color: rgba($skill-bg-color,0.70)!important;
    }
}

.skill1{
    font-size: 70%;
}
.skill2{
    font-size: 80%;
}

.enable-skills-bg{
    .skill1{
        background-color: rgba($skill-bg-color,0.1)!important;
        font-size: 70%;
    }
    .skill2{
        background-color: rgba($skill-bg-color,0.2)!important;
        font-size: 80%;
    }
    .skill3{
        background-color: rgba($skill-bg-color,0.3)!important;
    }
    .skill4{
        background-color: rgba($skill-bg-color,0.4)!important;
    }
    .skill5{
        background-color: rgba($skill-bg-color,0.5)!important;
    }
    .skill6,{
        background-color: rgba($skill-bg-color,0.6)!important;
    }
    .skill7,.skill8{
        background-color: rgba($skill-bg-color,0.7)!important;
    }
}
.skill{
//    &:after{
//        content: ", ";
//    }
//    &:last-of-type:after{
//        content: "";
//    }
   
    display: inline-block;
    //border: 1px solid $palette-color-4t;
    border: 1px solid rgba($palette-color-4,0.2);
    background-color: rgba($palette-color-2,0.1);
    border-radius: $inter-panel-padding/4;
    font-size: 85%;
    padding-left:  $inter-panel-padding/2;
    padding-right:  $inter-panel-padding/2;
    margin:  $inter-panel-padding/4;
    margin-right:  $inter-panel-padding/2;
    margin-left:0;
    @extend .roboto-condensed;
}

h2 img{
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
}

.cv{
    color: $palette-color-3d;

    h2{
        @extend .roboto-thin;
        font-weight: 100!important;
        font-size: 200%;
        //background-color: $palette-color-4;
        padding-top: $inter-panel-padding*4!important;
       // background-color: $palette-color-1;
        color: $palette-color-4!important;
        font-weight: 100!important;
//        border: 1px solid $palette-color-4;
//        border-bottom: none;
//        border-right: none;
        background-image: url(/assets/img/marker.svg)!important;
        background-repeat: no-repeat!important;
        background-size: 1em 1em!important;
        
      //  .underline;
       // .stripes;
        
    }
    
    
}
.bg1 .cv-position{

    color: darken($palette-color-3d, 10%);
    
    h2{
        
    }
    
    h3{
        color:  $palette-color-5;
        a{
            color:  $palette-color-5;
        }
    }
    
    
    .skill{
        color: fade($palette-color-3d, 80%);
        background-color: fade($palette-color-1d, 5%);
        border-color: fade($palette-color-3d, 30%);
    }
    
    strong{
        color:$palette-color-5;
    }
    
    
}

.section-work{
    .date{        
        color: $palette-color-1;
        background-color: $palette-color-6;
        @extend .with-noise;
    }
}
 
.cv-position{
   // border-left: 5px solid $palette-color-6;
    padding-bottom: $inter-panel-padding*2;
   // .with-shadow;
    
    
    
    ul{
        font-size: 90%;
        list-style: none;
        list-style-position: outside;
        @extend .nopadding;
        list-style-image: none;
        list-style-type: none;
    }
    
    li{
        display: block;
        line-height: 1.2;
        margin-bottom: $inter-panel-padding/2;
        margin-top: $inter-panel-padding/2;
        padding-left: $inter-panel-padding*3;
        padding-right: $inter-panel-padding;
        
        background-image: url(/assets/img/marker-h.svg)!important;
        background-repeat: no-repeat!important;
        background-size: 2em 2em!important;
        
         
        &:after{
            content: "; ";
        }
        &:last-of-type:after{
            content: "";
        }
    }
    
    .col-padding{
        padding: $base-padding;
        padding-top: $inter-panel-padding;
        padding-bottom: $inter-panel-padding;
    }
    
    
    

    h3,label{
        @extend .small-label;
        color: fade($palette-color-2, 40%);
       
        padding: $inter-panel-padding/2;
        padding-left: $inter-panel-padding;
        
        margin: 0;
        line-height: 1;
        display: inline-block;
        
    }
    
    strong{
        display: block;
        font-weight: 400!important;
    }
    
    h3{
        font-weight: 600!important;
    }
    
    label{
        //text-align: right;
        display: block;
    }
    
    .row{
        
    }
    
    .section-row{
       // border-top: 1px solid  fade($palette-color-6, 10%);
        padding-bottom: $inter-panel-padding/2!important;
        padding-top: $inter-panel-padding/2!important;
    }
   
    .employer h3{
        font-weight: 300!important;
    }
    .employer small{
        font-size: 75%;
        color: fade($palette-color-2, 40%);
        text-transform: none;
    }
    
    .position{
        font-weight: 600!important;
        //display: block;
    }
    .position, .employer{
        @extend .nice-caption;
    }
    
    a{
        text-decoration: underline;
       
        &:hover{
            color:  $palette-color-6!important;
        }
        &:after{
            background: url(/assets/img/arrow.svg);
            content: "";
            display: inline-block;
            background-size: contain;
            width: 1em;
            height: 1em;
        }
    }
}

.text-nowrap{
    white-space: nowrap!important;
}




.map-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(http://maps.googleapis.com/maps/api/staticmap?center=St.%20Petersburg,%20Russian%20Federation&zoom=12&format=png&sensor=false&size=600x400&scale=2&maptype=roadmap&style=feature:water|color:0x572e58&style=feature:landscape.man_made|element:geometry.fill|color:0x81abbd&style=feature:road|element:labels|visibility:off&style=feature:road|color:0xcf4359&style=feature:poi|element:labels|visibility:off&style=feature:poi.park|element:geometry.fill|color:0x84ad8d)!important;

}