@import "const.less";
    

@palette-color-3l: fade(@palette-color-3d, 80%);

@media print {
    
    *{
        -webkit-print-color-adjust: exact!important;
        print-color-adjust: exact!important;
    }
    
    a{
        text-decoration: none!important;
    }
    
    
    body{
        font-size: 10px;
    }
    
    .icon {
        color: @palette-color-4!important;
    }
    .contact-info {
        //font-size: 10px!important;
    }
    
    
    .container{
        width: 100%!important;        
        .nopadding; 
    }
    
    .cv{
        background-image: url(/assets/img/grid-print.svg)!important;
        background-size: contain!important;
        background-repeat: repeat-y!important;
        background-color: transparent!important;

    }

    .spaceous{
        padding-bottom: 0!important;
        padding-top: @inter-panel-padding*1.5!important;
    }
    
    .section-row, .section-headline, .date {
        page-break-inside: avoid;
        
    }
    
    .section-headline {
        margin-top: 2px!important;
    }
    
    a[href]:after {
        content: none !important;
        text-decoration: none!important;
    }
    

    .section-work{

        .date, .featured-label{
            text-align: center;
            font-size: 7px!important;
            font-weight: 300;
        }
        
        .featured-label{
            color: white!important;
            background: @palette-color-2!important;
            .roboto-condensed;
        }

        .date{
            color: white!important;
            background: @palette-color-6!important;
            .text-nowrap{
                color: white!important;
            }
        }
    }
    
    label{
            color: @palette-color-3l!important;
             -webkit-print-color-adjust: exact; 
    }
    
    .skill{
        background: white!important;
    }  
    
    .bg1{
        .skill1,.skill2,.skill3,.skill4,.skill5,.skill6,.skill7,.skill8{
            color: @palette-color-4d!important;
            background: white!important; 
        }
    }
    
     
    
    .cv h2{
        //border-left: 5px solid @palette-color-4t;
    }
    
    
    .date-line{
     
        background-color: @palette-color-4t!important;
        
        .date-line-marker{
            background:@palette-color-6!important;
            color:@palette-color-6!important;
        }
    }
    
    .bimage img{
       // border: 1px solid @palette-color-4;
    }
    
    .featured{
        border-right: none;
        border-left: none;
        background: fade(@palette-color-4, 7%)!important;
    }
 
    
    

}
//
//@media (min-width: 585px and print) {
//.col-sm-1,
//.col-sm-2,
//.col-sm-3,
//.col-sm-4,
//.col-sm-5,
//.col-sm-6,
//.col-sm-7,
//.col-sm-8,
//.col-sm-9,
//.col-sm-10,
//.col-sm-11,
//.col-sm-12 {
//float: left;
//}
