
<div class="text-content">
	<br>
	<div>Расшаривая эту страницу, ты делаешь своих друзей богаче, а карму -- чище. Спасибо тебе.</div>
	<br>
	<div class="fb-like" data-share="true" data-width="280" data-show-faces="true"></div>
</div>


<div class="ads">
	<script type="text/javascript"><!--
                            google_ad_client = "ca-pub-4045044665065447";
                            google_ad_slot = "7244570416";
                            google_ad_width = 320;
                            google_ad_height = 100;
                            //-->
                            </script>
	<script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                        </script>

</div>

<div class="text-content">
	If you've found any errors or just want to improve the thing, feel free to contribute at <a
		href="https://github.com/compartia/CarOwningCosts">GitHub CarOwningCosts <img
		src="https://assets-cdn.github.com/images/modules/contact/heartocat.png" width="20px"></a>
</div>



<small> design and code : <a href="https://www.behance.net/zaborskiy"> Artem Zaborskiy</a> , 2015
</small>

<!-- end of footer -->