

<br>
<br>
<div class="text-content">
	<small> Сделано вручную на Петроградке <br> 
	Handcrafted in Saint Petersburg; 
	design and code by <a href="http://www.zaborskiy.org"> Artem Zaborskiy</a>; 2015
	</small>
</div>
<a href="http://www.zaborskiy.org" class="logo-wrap"> <span class="az-az-logo" />
</a>

<div class="text-content">
	<small> If you've found any errors or just want to improve the thing, <br>feel free to contribute at <a
		href="https://github.com/compartia/CarOwningCosts">GitHub / CarOwningCosts </a></small> 
</div>

<!-- end of footer -->