
<div class="social nopadding">
	<a itemprop="sameAs" target="_blank" href="https://www.facebook.com/zaborskiy"><span class="az-social-facebook"></span></a>
	<a itemprop="sameAs" target="_blank" href="https://th.linkedin.com/in/zaborskiy"><span class="az-social-linkedin"></span></a>
	<a itemprop="sameAs" target="_blank" href="https://www.behance.net/zaborskiy"><span class="az-social-behance"></span></a>
	<a itemprop="sameAs" target="_blank" href="https://plus.google.com/+ArtemZaborskiy"><span
		class="az-social-google-plus"></span></a> <a itemprop="sameAs" target="_blank"
		href="https://play.google.com/store/apps/developer?id=AZZZ"><span class="az-social-android"></span></a> <a
		itemprop="sameAs" target="_blank" href="https://github.com/compartia"><span class="az-social-github"></span></a> <a
		itemprop="sameAs" target="_blank" href="https://instagram.com/compartia/"><span class="az-social-instagram"></span></a>
</div>

