
//@import "../js/bower_components/bootstrap-material-design/less/material.less";
 
@mediumDuration: .4s;



@screen-sm-min: 700px;

@light-sea-green:#1ABC9C;
@coral: #E87352;
@turquoise-medium: #58C8C9;
@punch: #E74C3C;
@side-border: 10px;
@input-corner-rad:0.3em;

@coffee: #B6AEA1;
@coffee-milk: lighten(@coffee, 10%);
@activeColor: @punch;

@headline-bg-color: desaturate(@punch, 10%); 
@headline-bg-color-2:@coffee;// lighten(desaturate(@light-sea-green, 60%),10%); 



@table-border-color-2:lighten(@headline-bg-color-2, 15%);
@selected-row:lighten(desaturate(@light-sea-green, 50%),40%); 


@base-padding: 15px;
@inter-panel-padding: 5px;


@shadow-color: rgba(0,0,0,0.46);

@panel-bg: darken(rgb( 251,252,250),2%);
@panel-bg-dimmed:desaturate( darken(@panel-bg, 4%), 10%);
@bg-color: white;
@panel-border-color: darken(@panel-bg, 8%); 
 
@light-font-color: desaturate(darken(@panel-bg-dimmed, 25%),10%); 

@inverted-bg-color: desaturate(@punch, 10%); 
@inverted-font-color: lighten(@inverted-bg-color,40%); 
@inverted-font-color-dimmed: darken(@inverted-font-color, 20%); 

@inverted-bg-color-2: desaturate(@light-sea-green, 10%); 
@inverted-font-color-2: lighten(@inverted-bg-color-2, 60%); 
@inverted-font-color-dimmed-2: darken(@inverted-font-color-2, 20%); 
 
@openable-row-color:lighten(@panel-bg, 3%);

@good-result: @inverted-bg-color-2; 
@bad-result: @inverted-bg-color; 


.roboto{
    font-family: "Roboto" !important;
}

body{
    .roboto;
    font-weight: 300 !important;
}

.with-noise{
	background-image: url(../img/noise.png) !important;
}

.nice-caption{
    .roboto;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .1em;
}
 



/* ================= */

 

.fa-my-tag {
    font-size: 0.7em!important;
    margin-right: 1em!important;
}

/* ========== */

.grey-bg{
    background-color:@panel-bg!important;
	.with-noise;
}

.grey-bg-transparent{
    background-color:fadeout(white, 40%)!important;
}

.panel-footer{
    margin: 0px;
    padding: 10px;
    .grey-bg; 
    border-top: 5px solid @panel-border-color;
}

.panel-heading{
    .nice-caption;
    text-align: left!important;
	font-size: 11px;
    color:rgba( 0,0,0, 0.5);
    padding-left: 0;
    background: none;
    padding-bottom: 0;
    border: none;
}

.panel{
    margin: 0!important;
    margin-bottom: @base-padding;
    padding: 0!important;
    background: none;
}

.panel-body{
    padding: 15px!important;
    .grey-bg;
}


/* ==== */


.list-group-item {
    cursor: pointer;
}

 
 
/*  = === = = = */
.list-group-item{
    padding: 0!important;
    display: table!important;
    width: 100%!important;
}

.list-group-item .list-group-item-wrap{
    padding: 0!important;
    display: table-row!important;
}

.list-group-item-cell{
    padding: @base-padding;
    display: table-cell;
    /*border-bottom: 1px solid @panel-border-color;*/
} 
 

 
  
 
.row{
    margin: 0px!important;   
}


/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}

@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}


 

.nav-tabs>li, .btn, .dropdown-menu li{
    .nice-caption;
}

label{
   .roboto;
    font-weight: 400 !important;
	
}

label small, .form-control{
    font-weight: 300 !important;
	.roboto;
}

.comment-block{
     font-weight: 300 !important;
}
.comment-block .img-wrap{
    border-radius: 10%;
    border: 5px solid white;
}

.lead {
    .roboto;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.46428571;
  }
@media (min-width: 768px) {
  .lead {
    font-size: 28px;
    }
  }

 
b, strong{
    .roboto;
     font-weight: 400 !important;
}

 
 /* ============================= */
  

.help-inline{
	padding-left: @inter-panel-padding;
}

 
.cars {
    td, th{
        text-align:right!important;
        vertical-align: middle!important;
        background-color:@panel-bg;
        border-top-color: @panel-border-color!important;
        .with-noise;
    }
    
    small{
        color: @light-font-color;
    }
    
    input{
        text-align:right!important;
        display:inherit;
    }
    
    .btn{
        border-radius: 0;
        background: @headline-bg-color;
    }
    
    .form-control{
        width: 7em !important;
        border: none;
        background-color:white!important;
        border-radius: @input-corner-rad;
    }
    
    .openable{
        background-color: @openable-row-color;
        cursor: pointer;
        
        -webkit-transition-duration: @mediumDuration;
        transition-duration: @mediumDuration;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
        
        td {
            background: none;
        }
    }
    
    .openable:hover, .openable:focus, .openable:active {
        background-color: @selected-row!important;
    }

    .open td{
        background:@selected-row;
    }
    
    .subtable-wrap{
        background-color: @panel-bg-dimmed;
        padding: 10px;
       -webkit-box-shadow: inset 0px 14px 27px -12px @shadow-color;
        -moz-box-shadow: inset 0px 14px 27px -12px @shadow-color;
        box-shadow: inset 0px 14px 27px -12px @shadow-color;

        .with-noise;
    }   
}




.headline h3{
    padding:0;
    margin:0;
}

.table{
    margin-bottom: 0;
    
    tr:first-of-type td{
        border-top:none!important;
    }
    
    td{
        margin-bottom: 0;
    }
    
    td:nth-child(3){
        padding-right: @base-padding!important;
        min-width: 6em;
    }
    
    th{
        .nice-caption;
        font-size: 65%;
        
        color: @inverted-font-color;
        font-weight: 400;
        background-color:@headline-bg-color;
        border: none;
        .with-noise;
    }
}
 
 
.bg-coffee{
    background-color: @coffee-milk!important;
}
.subtable{
    background: none !important;
    
    
    td{
        background: none !important;
        border-top-color: @table-border-color-2!important;
        
        padding-right: 1em!important;
    }
    
    th{
        border: none;
        .bg-coffee;
    }   
}

.units-column td:nth-child(3){
    width: 4em;
    padding-left: 0;
    text-align: left!important;
    font-size: 70%;
}


.no-padding{
    padding: 0!important;
    margin: 0!important;
}

.subtable-container{
    .no-padding;
    border: none !important;
}


 
.navbar-cars{
    color: @inverted-font-color; 
    
    background-color:@inverted-bg-color;
    border: none;
    .with-noise;
    
         -webkit-box-shadow: 0px 14px 27px -12px @shadow-color;
    -moz-box-shadow: 0px 14px 27px -12px @shadow-color;
    box-shadow: 0px 14px 27px -12px @shadow-color;
 
    small{
        color: @inverted-font-color-dimmed;
    }

    h3{
        font-weight: 400;
        line-height: 0.7;
        margin-bottom: 0!important;
        margin-top: 10px!important;
    }
}

  

ol.simple-list {
	list-style-type: none;
	list-style-type: decimal !ie; /*IE 7- hack*/
	
	margin: 0;
	margin-left: 3em;
	padding: 0;
	
	counter-reset: li-counter;
}
ol.simple-list > li{
	position: relative;
	margin-bottom: 20px;
	padding-left: 0.5em;
	min-height: 3em;
 	border-left: 1px solid @light-font-color;
}
ol.simple-list > li:before {
	position: absolute;
	top: 0;
	left: -1.2em;
	width: 1.2em;
	
	font-size: 2.5em;
	line-height: 1;
	font-weight: 100;
	text-align: right;
	color:@light-font-color;

	content: counter(li-counter);
	counter-increment: li-counter;
    padding-right: 0.2em;
}


.page{
    margin-top: 60px;
}

.text-content{
    padding: @base-padding;
}

.lead small{
    font-size: 60%;
    .nice-caption; 
}

   
 
@media (max-width: 450px){
   .container {
        width: 100%;
       margin: 0;
       padding: 0;
	} 
}
 

@media (min-width: @screen-sm-min) {
 	.container {
        width: 550px;
	}
}

.easter{
    color: @punch;
}

.chart-box{
    height:200px; 
}




.footer{
    text-align: center;
    margin-bottom: 40px;
    
    .text-content{
        margin-top: 0!important;
        padding-top: 0!important;
    }
}

.headline{
    h3{
       font-weight: 600; 
    }
    
    h2,h3,h4,h5{
        color: @inverted-font-color;
        
        small{
            display: inline-block;
            width: 80px;
            font-weight: 300;
            text-align: left!important;
        }
    }
}

.param-value{
    small{
            display: inline-block;
            width: 80px;
            font-weight: 300;
            text-align: left!important;
        }
}
.summary{
    td:nth-child(2){
       
        padding-left: 0;
//        text-align: left!important;

    }
}

.dimmed{
    .headline{
        background-color:desaturate(darken(@headline-bg-color, 5%), 10%);  
        h2,h3,h4,h5{
            color: darken(@inverted-font-color, 10%);   
        }
        small{
            color: @inverted-font-color-dimmed;
        }
    }
}
.ads{ 
    height: 100px;
}

.total{
    border: 2px solid @headline-bg-color;
    padding: @base-padding;
    text-align: center;
}

.result{
    td,th{
        text-align: left!important;
    }
    
}

.headline{
        color: white; 
        font-weight: 400;
        background-color:@headline-bg-color;
        border: none;
        .with-noise;
    }

.table{ 
    .good{
        width: 45%!important;
        background-color: @good-result;
        .with-noise;
        
        color: @inverted-font-color-2;
        
        .headline{
            background-color:@good-result;
        }
        
        small{
            color: @inverted-font-color-dimmed-2;
        }
        
        a{
            color: @inverted-font-color-2!important;
            text-decoration: underline;
        }
    }
    
    .bad{ 
        width: 45%!important;
        background-color: @bad-result;
        .with-noise;
        text-align: left!important;
        color: @inverted-font-color;
        
        small{
            color: @inverted-font-color-dimmed;
        }
        
        .headline{
            background-color:@bad-result;
        }
    }
}

.logo-wrap{
    font-size: 8em!important; 
    color:@coffee;
    padding:@base-padding;
    display:block;
    &:hover { text-decoration:none; }
}
