<!doctype html>

<html lang="en" ng-app="zaborskiy">

<meta property="og:type" content="article" />
<meta property="article:author" content="https://www.facebook.com/zaborskiy" />
<meta property="article:publisher" content="http://www.zaborskiy.org/" />

<meta property="og:title" content="Artem zaborskiy's CV" />
<meta property="og:site_name" content="zaborskiy.org" />
<meta property="og:url" content="http://www.zaborskiy.org/gal/artem_zaborskiy_resume.html" />
<meta property="og:locale" content="en_US" />
<meta property="fb:app_id" content="201987453175808" />
<meta property="og:image" content="http://res.cloudinary.com/zaborskiy/image/upload/c_fill,dpr_auto,w_900/v1439230517/zaborskiy.jpg"
/>

<meta property="og:description" content="Artem Zaborskiy's resume" />

<meta charset="utf-8">

<title>Artem Zaborskiy's resume</title>
<meta name="description" content="Artem Zaborskiy's resume">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="cv.js"></script>


<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "Artem Zaborskiy's portfolio",
  "url" : "http://www.zaborskiy.org"
}
</script>



<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>

	<div id="fb-root"></div>






	<div class="container">



		<div class="cv bg1" ng-controller="mainCtrl">

			<div class="">
				<div class="row " itemscope itemtype="http://schema.org/Person">


					<div class="col-xs-12 col-md-3 col-lg-3 nopadding bg1">
						<div class="row bimage avatar">
							<div class="col-xs-4 col-sm-2 col-md-6 nopadding">
								<img src="/assets/img/az_side_branding1.svg" style="width: 100% !important;" />
							</div>
							<div class="col-xs-4 col-sm-2 col-md-6 nopadding">
								<img src="/assets/img/az_side_branding2.svg" style="width: 100% !important;" />
							</div>
							<div class="col-xs-4 col-sm-2 col-md-6 nopadding">
								<img src="/assets/img/az_side_branding3.svg" style="width: 100% !important;" />
							</div>
							<div class="col-xs-4 col-sm-2 col-md-6 nopadding">
								<img src="/assets/img/az_side_branding4.svg" style="width: 100% !important;" />
							</div>
							<div class="col-xs-4 col-sm-2 col-md-6 nopadding">
								<img src="/assets/img/az_side_branding5.svg" style="width: 100% !important;" />
							</div>
							<div class="col-xs-4 col-sm-2 col-md-6 nopadding">
								<img src="/assets/img/az_side_branding6.svg" style="width: 100% !important;" />
							</div>
						</div>
					</div>





					<div class="col-xs-12 col-md-9 col-lg-9 nopadding">
						<div class="hidden-print download-links-wrap text-right section-links">
							download as
							<a href="/assets/img/artem_zaborskiy_cv.pdf" class="download-link bg4">PDF</a>
						</div>
						<section class="spaceous">


							<h1 itemprop="name">
								<span style="font-weight: 900;">Artem</span> Zaborskiy
								<link itemprop="url" href="http://www.zaborskiy.org" />
							</h1>


							<div class="map contact-info ">

								<div class="map">
									<del class="hidden-print">{{cv.contactInfo.locationLast}}</del>
									{{cv.contactInfo.location}}
								</div>
								<div>
									<a itemprop="email" href="mailto:{{cv.contactInfo.email}}">{{cv.contactInfo.email}}</a>
								</div>
								<div>
									<span>{{cv.contactInfo.phone}}</span>
								</div>
							</div>

							<p>{{cv.summary}}</p>

							<div class="contact-info ">
								<ul>
									<li ng-repeat="link in cv.contactInfo.links">
										<a itemprop="sameAs" target="_blank" href="{{link.href}}">
											<span class="icon {{link.iconClass}}"></span>{{link.name}}
										</a>
									</li>
								</ul>
							</div>
						</section>

					</div>


				</div>


				<div ng-cloak class="cv-position">

					<div class="row with-noise section-headline">
						<div class="col-md-3"></div>
						<h2 class="col-md-9 col-sm-12 col-xs-12">Skills</h2>
						<!-- <div class="col-xs-2 col-sm-1 col-md-1 nopadding">
							<img src="/assets/img/az_side_branding2.svg" style="width: 100% !important; height:" />
						</div> -->
					</div>


					<div class="row section-row">
						<label class="col-xs-12 col-sm-3 col-md-3">technologies</label>
						<div class="col-xs-12 col-sm-9 col-md-8">
							<div ng-repeat="skill in skills| orderBy:'count':true | filter:'technologies'" class="skill skill{{skill.count}}">{{skill.name}}</div>
						</div>
					</div>
					<div class="row section-row">
						<label class="col-xs-12 col-sm-3 col-md-3">platforms</label>
						<div class="col-xs-12 col-sm-9 col-md-8">
							<div ng-repeat="skill in skills| orderBy:'count':true | filter:'platforms'" class="skill skill{{skill.count}}">{{skill.name}}</div>
						</div>
					</div>
					<div class="row section-row">
						<label class="col-xs-12 col-sm-3 col-md-3">Tools</label>
						<div class="col-xs-12 col-sm-9 col-md-8">
							<div ng-repeat="skill in skills| orderBy:'count':true | filter:'tools'" class="skill skill{{skill.count}}">{{skill.name}}</div>
						</div>
					</div>
					<div class="row section-row">
						<label class="col-xs-12 col-sm-3 col-md-3">paradigms</label>
						<div class="col-xs-12 col-sm-9 col-md-8">
							<div ng-repeat="skill in skills| orderBy:'count':true | filter:'paradigms'" class="skill skill{{skill.count}}">{{skill.name}}</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row with-noise section-headline page-break">
				<div class="col-md-3"></div>
				<h2 class="col-md-9 col-sm-12 col-xs-12">
					Education
					<img class="hidden-print" src="/assets/img/az_side_branding4.svg" />
				</h2>

			</div>

			<!-- ============= -->
			<div class="section-education ">
				<div ng-cloak class="cv-position" ng-repeat="pos in cv.education | orderBy:'stop':true">


					<div class="row">
						<label class="text-right date col-xs-4 col-sm-3 col-md-3"> {{pos.start | date:"yyyy" }} — {{pos.stop | date:"yyyy" }}</label>
						<h4 class="col-xs-8 col-md-8 col-sm-8">
							<strong>{{pos.name}}</strong>
						</h4>
					</div>

					<div class="row" ng-show="pos.faculty">
						<label class="text-right col-xs-4 col-sm-5 col-md-5">faculty</label>
						<div class="col-md-6 col-sm-6 col-xs-8 h-padding">{{pos.faculty}}</div>
					</div>

					<div class="row" ng-show="pos.speciality">
						<label class="text-right col-xs-4 col-sm-5 col-md-5">speciality</label>
						<div class="col-md-6 col-sm-6 col-xs-8 h-padding">{{pos.speciality}}</div>
					</div>

					<div class="row" ng-show="pos.activities">
						<label class="text-right col-xs-4 col-sm-5 col-md-5">activities</label>
						<div class="col-md-6 col-sm-6 col-xs-8 h-padding">{{pos.activities}}</div>
					</div>


				</div>
			</div>

			<!-- ============= -->

			<div class="section-work">




				<div class="row with-noise section-headline page-break">
					<div class="col-md-3"></div>
					<h2 class="col-md-9 col-sm-12 col-xs-12">
						Work experience
						<img class="hidden-xs hidden-print" src="/assets/img/az_side_branding6.svg" />
					</h2>
				</div>



				<!-- <h2>work experience</h2> -->
				<div>
					<div ng-repeat="pos in items | orderBy:'stop':true" ng-cloak class="cv-position nopadding">

						<div class="print-no-break" style="position: relative;">

							<div class="date-line-holder" style="height: 5px; position: relative; z-index: 11 ">
								<div class="date-line" style="bottom: 0px; left:0; right:0; position: absolute; ">
									<div class="date-line-marker text-right" style="left: {{pos.startPercent}}%; width: {{pos.durationPercent}}%">
										<span class="hidden-print">{{pos.duration}}</span>
									</div>
								</div>
							</div>

							<div class="col-xs-3 col-sm-2 col-md-1 nopadding text-right print-no-break" style="position: absolute; z-index: 12; right: 0; ">
								<div class="featured-label text-center" ng-show="pos.featured">
									featured
								</div>
							</div>

						</div>
						<!-- ============= -->
						<div class="row" ng-class="featured':pos.featured">

							<div class="col-sm-5 col-md-3 col-xs-12 print-no-break nopadding">
								<div class="date bg6">
									<span class="text-nowrap">{{pos.start | date:"yyyy, MMM" }}</span> —
									<span class="text-nowrap">{{pos.stop | date:"yyyy, MMM" }}</span>
								</div>
							</div>

							<!-- ============= -->



							<!-- ============= -->

							<div class="col-xs-12 col-sm-12 col-md-8 nopadding">

								<div class="row">

									<div class="col-xs-12 col-sm-9  col-sm-push-3 col-padding">
										<div ng-show="pos.position">
											<span class="position">{{pos.position}}</span>
											<span class="employer">

												<span ng-show="pos.employerUrl">
													<br class="visible-xs">
													<span ng-show="pos.employer" class="hidden-xs">@</span>
													<a target="_emploer" href="{{pos.employerUrl}}">{{pos.employer}}</a>
												</span>

												<span ng-show="!pos.employerUrl">
													<span ng-show="pos.employer" class="hidden-xs">@</span>{{pos.employer}}</span>

											</span>
										</div>
									</div>

								</div>

								<div class="row section-row">
									<label class="hidden-xs col-sm-3 col-md-3">Project</label>

									<div class="col-xs-12 col-sm-6 col-md-9 h-padding">
										<strong ng-show="!pos.projectUrl">{{pos.customer}}</strong>
										<strong ng-show="pos.projectUrl">
											<a target="_project" href="{{pos.projectUrl}}">{{pos.customer}}</a>
										</strong> {{pos.project}}
									</div>
								</div>

								<div class="row section-row  hidden-xs" ng-show="pos.teamSize">
									<label class="col-xs-3 col-sm-3 col-md-3 text-right">Team&nbsp;size</label>
									<div class="col-xs-3 col-sm-9 col-md-9 h-padding">
										<span>{{pos.teamSize}}</span>
									</div>
								</div>

								<div class="row section-row  hidden-xs" ng-show="pos.process">
									<label class="col-xs-3 col-sm-3 col-md-3 text-right">Process</label>
									<div class="col-xs-3 col-sm-4 col-md-9 h-padding">
										<span class="skill">{{pos.process}}</span>
									</div>
								</div>

								<div class="row section-row print-no-break" ng-show="pos.respons">
									<label class="hidden-xs col-xs-3 col-sm-3 col-md-3">Responsibilities</label>
									<div class="col-xs-11 col-sm-7 col-md-9 nopadding">
										<ul>
											<li ng-repeat="resp in pos.respons">{{resp}}</li>
										</ul>
									</div>
								</div>

								<div class="row section-row  print-no-break" ng-show="pos.achievments">
									<label class="col-xs-3 col-sm-3 col-md-3">Experience</label>
									<div class="col-xs-11 col-sm-7 col-md-9 nopadding">
										<ul>
											<li ng-repeat="resp in pos.achievments">{{resp}}</li>
										</ul>
									</div>
								</div>

								<div class="row section-row" ng-show="pos.awards">
									<label class="col-xs-3 col-sm-3 col-md-3">Awards</label>
									<div class="col-xs-12 col-sm-9 col-md-9 h-padding">
										<span>{{pos.awards}}</span>
									</div>
								</div>


								<div class="row section-row" ng-show="pos.reference">
									<label class="col-xs-3 col-sm-3 col-md-3">reference</label>
									<div class="col-xs-12 col-sm-9 col-md-9 h-padding">
										<a href="{{pos.reference}}" target="_blank">{{pos.reference}}</a>
									</div>
								</div>

								<div class="print-no-break">

									<div class="row section-row" ng-show="pos.technologies">
										<label class="hidden-xs col-sm-3 col-md-3">Technologies</label>
										<div class="col-xs-12 col-sm-7 col-md-9 h-padding">
											<span class="skill" ng-repeat="t in pos.technologies">{{t}}</span>
										</div>
									</div>

									<div class="row section-row" ng-show="pos.tools">
										<label class="hidden-xs col-sm-3 col-md-3">Tools</label>
										<div class="col-xs-12 col-sm-8 col-md-9 h-padding">
											<span class="skill" ng-repeat="t in pos.tools">{{t}}</span>
										</div>
									</div>

									<div class="row section-row" ng-show="pos.platforms">
										<label class="hidden-xs col-sm-3 col-md-3">Platforms</label>
										<div class="col-xs-12 col-sm-8 col-md-9 h-padding">
											<span class="skill" ng-repeat="t in pos.platforms">{{t}}</span>
										</div>
									</div>

									<div class="row section-row" ng-show="pos.paradigms">
										<label class="hidden-xs col-sm-3 col-md-3">Paradigms</label>
										<div class="col-xs-12 col-sm-8 col-md-9 h-padding">
											<span class="skill" ng-repeat="t in pos.paradigms">{{t}}</span>
										</div>
									</div>

									<div class="section-row" style="height: 40px">
									</div>
								</div>
							</div>
							<!-- ============= -->





						</div>

					</div>

				</div>
				<footer>
					<%= require('html-loader!../assets/partials/social2.html') %>
					<%= require('html-loader!../assets/partials/branding_footer.html') %>					
				</footer>
			</div>

		</div>


		
</body>

</html>