 

.jp-header{    
    background-image:url(../assets/img/jp/gate.jpg); 
    min-height:12cm;
}

.jp-metro{    
    background-image:url(../assets/img/jp/metro.jpg); 
    min-height:15cm;
}


.jp-street{    
    background-image:url(../assets/img/jp/street.jpg); 
    min-height:14cm;
}

.jp-columns{    
    background-image:url(../assets/img/jp/columns.jpg); 
    min-height:12cm;
}

