@import "const";

@media (max-width: 768px) {
    aside{
        width: 100%!important;
        margin: 0!important;
        margin-bottom: 6*$inter-panel-padding!important;
        float: none;
        display: block;
    }
}

@media (max-width: 350px) {
    
    
     
     .cv{
        .logo-wrap{
            font-size: 200%; 
            padding-left: 0;
            padding-right: 0;
            padding-top: $inter-panel-padding;
        }
         
        h1{
            font-size: 16pt;            
        }
    }
     
     code{
         max-width: 100%;
         display: inline-block;
         overflow: hidden;
         margin: 0;
         padding: 0;
         line-height: 1; 
         white-space: normal;
    }
     
     pre{
         font-size: 60%;
         
     }
    
    .tutorial h2 small{
        padding-left: $content-padding;
        padding-right: $content-padding   
    }
}

 @media (min-width: 1024px) {
     .cv{
        .logo-wrap{
            font-size: 70pt;
            padding-left: 0;
            padding-right: 0;
            padding-top: $inter-panel-padding;
        }
    }
}

@media (min-width: 768px) {
    label{
         text-align: right;
    }
    
    
} 