@import "zaborskiy";

$numeration-size: $padding-base*8;

 
BODY {
    color: $text-color;
    counter-reset: chapter;
    // @extend .roboto;     
}


h1, h2, h3, h4, h5{
    @extend .roboto;
}

p{
    font-family: "Forum",serif;
    // padding: 0 $content-padding;
}

.container{    
    background: white;
    padding: $content-padding;
    
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    @extend .roboto;
     
    li{
        marker: none;
        margin-left: $content-padding;
    }
}

footer{
    padding-top: $content-padding*4;
}

blockquote {
    border-left: 2px solid $palette-color-4;
    font-size: 100%; 
    padding-left: $padding-base;
}
 

code{
    color: $palette-color-4d;
    background: $palette-color-1;
}
 
pre{
    font-family:Liberation Mono,Consolas,Monaco,Lucida Console, DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace!important;
    padding: 10px;
    border-radius: 0!important;
    padding: $padding-base/2!important;
    border-color: $palette-color-4!important;
    background: fade($palette-color-4, 10%)!important;
}
 
   
h3 {
    padding-top: 20px;
    font-size: 200%;
    font-weight: 300;

    // margin-top: -0.33em;
    color: $palette-color-5;
    @extend .roboto;
}
// .substep{
//     &::before{
//         content: counter(chapter) "." counter(section) " ";
//         counter-increment: section;
//         text-align: right;
//         float: left;
//         width: $numeration-size;
//         margin-left: -$numeration-size;
//         padding-right: $padding-base;
//     }
//     &::before, h3 {

//         font-size: 200%;
//         font-weight: 300;

//         // margin-top: -0.33em;
//         color: $palette-color-5;
//         @extend .roboto;
//     }

//     margin-left:  $numeration-size - $content-padding;
//     margin-bottom: $padding-base*2;
// }
 
 h1{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: bottom;
}

 
.container{

    background: $palette-color-1;
    padding: $content-padding;

    p{
        line-height: 1.3;
    }


    h4{
        font-size: 120%;
        margin: 0;
        padding: 0;
        margin-bottom: $padding-base;
        margin-top: $padding-base*2;
    }


    h1{
        color:  $palette-color-5;

        // text-align: center;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        vertical-align: bottom;

     
        text-transform: none;
        letter-spacing: 0;
        font-size: 350%;
        margin: -$content-padding;
        padding: $content-padding;
        margin-bottom: 2*$content-padding;
        font-weight: 300;
        @extend .roboto;
        @extend .nice-caption;


        small{
            display: block;
            line-height: 1;
            font-weight: 200;
            margin-bottom: 2* $padding-base;
            color: $palette-color-1t;
            text-transform: none;
            letter-spacing: 0;

            small{
                margin-top: 0.6em;
                font-size: 40%;
                color: $palette-color-1;
            }
        }
    }


    ul{
        line-height: 1;
        padding-top:  $padding-base!important;
        padding-bottom: $padding-base!important;

        li{
           line-height: 1;
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 0!important;
            padding-bottom: 0!important;
        }
    }

    ul.heavy,ol.heavy{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul.heavy li, ol.heavy li{
        margin: 0;
        padding: 0;

        padding-bottom: 3* $padding-base;
        padding-top: 3* $padding-base;


        h2 {
            margin-bottom: 0;
            &:after{
                height: 10px;
                overflow: hidden;
                margin: 0;
                padding: 0;
                content: " ";
                display: block;
                clear: both;
            }

             &:before{
                float: left;
                margin-top: -0.33em;
                line-height: 1;
                text-align: right;

                font-size: $numeration-size * 1.25;
               // border: @border-base solid lightgrey;
                width: $numeration-size;
                height: $numeration-size;
                overflow: hidden;
                font-weight: 900;
                padding-left: $numeration-size/1.8;

                margin-right: $padding-base;
                margin-bottom: $padding-base;
                display: inline-block;

                content: counter(chapter);
                background-color: $palette-color-5;
                color: $palette-color-1;
            }


         }
    }


    h2 {
        @extend .roboto;
        padding-top: 6* $padding-base!important;
        margin-left: -$content-padding;
        counter-reset: section;
        counter-increment: chapter;
        padding: 0;
        color: $palette-color-5;


        line-height: 0.8;
        margin-bottom: 1* $padding-base;

        small{
            display: block;
            line-height: 1;
            font-weight: 200;
            margin-bottom: 2* $padding-base;
            text-transform: none;
            letter-spacing: 0;
        }

        &:after{
            content: "";
            clear: both;
            display: block; position: relative;
        }
        
      //deprecated
        &:before{
            float: left;
            margin-top: -0.33em;
            line-height: 1;
            text-align: right;

            font-size: $numeration-size * 1.25;
           // border: @border-base solid lightgrey;
            width: $numeration-size;
            height: $numeration-size;
            overflow: hidden;
            font-weight: 900;
            padding-left: $numeration-size/1.8;

            margin-right: $padding-base;
            margin-bottom: $padding-base;
           

            content: counter(chapter);
            background-color: $palette-color-5;
            color: $palette-color-1;
        }

       
    }
}

.char-xl {
    font-size: 200%;
}
