<!DOCTYPE html>

<html lang="en" ng-app="zaborskiy">

<head>
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/zaborskiy" />
    <meta property="article:publisher" content="http://www.zaborskiy.org/" />

    <meta property="og:locale" content="en_US" />

    <meta property="fb:app_id" content="201987453175808" />

    <meta charset="utf-8">

    <title>[zaborskiy.org]</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <script src="pg.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">


</head>

<body>
    <div class="container">